
*.pper
.Rproj.user/230ECD63/rmd-outputs
.Rproj.user/230ECD63/saved_source_markers
.Rproj.user/230ECD63/sources/per/t/67262408
.Rproj.user/230ECD63/sources/per/t/67262408-contents
.Rproj.user/230ECD63/sources/per/t/69118668
.Rproj.user/230ECD63/sources/per/t/69118668-contents
.Rproj.user/230ECD63/sources/per/t/DD776C89
.Rproj.user/230ECD63/sources/per/t/DD776C89-contents
.Rproj.user/230ECD63/sources/per/t/DDE54C04
.Rproj.user/230ECD63/sources/per/t/DDE54C04-contents
.Rproj.user/230ECD63/sources/prop/0A88BB7F
.Rproj.user/230ECD63/sources/prop/1081B9B5
.Rproj.user/230ECD63/sources/prop/19DD3F5E
.Rproj.user/230ECD63/sources/prop/2365FE50
.Rproj.user/230ECD63/sources/prop/9F47C843
.Rproj.user/230ECD63/sources/prop/A3362018
.Rproj.user/230ECD63/sources/prop/A94CA9B0
.Rproj.user/230ECD63/sources/prop/C0B54435
.Rproj.user/230ECD63/sources/prop/INDEX
.Rproj.user/shared/notebooks/1B6E4F81-index/1/230ECD631D583089/chunks.json
.Rproj.user/shared/notebooks/1B6E4F81-index/1/s/chunks.json
.Rproj.user/shared/notebooks/1E6C0A46-sobre/1/230ECD631D583089/chunks.json
.Rproj.user/shared/notebooks/1E6C0A46-sobre/1/s/chunks.json
.Rproj.user/shared/notebooks/26889229-como_vencer_no_enem/1/230ECD631D583089/chunks.json
.Rproj.user/shared/notebooks/26889229-como_vencer_no_enem/1/s/c0m68ziif1r1t/000002.csv
.Rproj.user/shared/notebooks/26889229-como_vencer_no_enem/1/s/c1jctotuczkul/000002.csv
.Rproj.user/shared/notebooks/26889229-como_vencer_no_enem/1/s/cbmbmq0yumpj6/000002.csv
.Rproj.user/shared/notebooks/26889229-como_vencer_no_enem/1/s/cbmbmq0yumpj6/000003.html
.Rproj.user/shared/notebooks/26889229-como_vencer_no_enem/1/s/cbmbmq0yumpj6/000003.json
.Rproj.user/shared/notebooks/26889229-como_vencer_no_enem/1/s/ccworbkcpaajx/000002.csv
.Rproj.user/shared/notebooks/26889229-como_vencer_no_enem/1/s/chqj67954d05a/000002.csv
.Rproj.user/shared/notebooks/26889229-como_vencer_no_enem/1/s/chunks.json
.Rproj.user/shared/notebooks/26889229-como_vencer_no_enem/1/s/cqaayp0wa93o8/000002.csv
.Rproj.user/shared/notebooks/26889229-como_vencer_no_enem/1/s/ctbktbbz4jotp/000002.csv
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
